<%provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".the" %><a href="http://www.railstutorial.org/"><em><%= t ".ror_tutorial" %></em></a> <%= t(".is_a") %>
  <a href="http://www.railstutorial.org/book"><%= t ".book" %></a> <%= t ".and" %>
  <a href="http://screencasts.railstutorial.org/"><%= t ".screencast_series" %></a>
  <%= t ".to_teach_web_development_with" %>
  <a href="http://rubyonrails.org/"><%= t ".ruby_on_rails" %></a>.
  <%= t ".sample_app" %>
</p>


