<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".get_help_ruby" %>
  <a href="http://www.railstutorial.org/help"><%= t ".ruby_link" %></a>.
  <%= t ".get_help_sample" %>
  <a href="http://www.railstutorial.org/book"><em><%= t ".sample_link" %></em>
  <%= t ".book" %></a>.
</p>


